@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-bg {
  background: radial-gradient(circle at 70% 80%, #1e293b, #0f172a, #000000);
  min-height: 100vh; /* Ensures it covers the full screen height */
}

/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */


 html,body {
  margin: 0;
  padding:0;
  height: 100%;
  overflow-x: hidden;
} 

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} 

.scrollbar {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer/Edge */
}

.scrollbar::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

@layer utilities {
  .scrollbar-custom {
    /* Firefox */
    scrollbar-width: thin;
    scrollbar-color: #326e66 transparent;
  }

  /* WebKit Browsers */
  .scrollbar-custom::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  .scrollbar-custom::-webkit-scrollbar-track {
    background: transparent;
  }

  .scrollbar-custom::-webkit-scrollbar-thumb {
    background-color: #326e66;
    border-radius: 9999px;
    border: 2px solid transparent;
    background-clip: content-box;
    transition: opacity 0.3s ease;
  }

  .scrollbar-custom::-webkit-scrollbar-button {
    display: none;
    height: 0;
    width: 0;
  }

  /* Auto-hide only works in WebKit */
  .scrollbar-custom::-webkit-scrollbar {
    opacity: 0;
  }

  .scrollbar-custom:hover::-webkit-scrollbar,
  .scrollbar-custom:active::-webkit-scrollbar,
  .scrollbar-custom:focus::-webkit-scrollbar {
    opacity: 1;
  }

  /* Optional: Smooth hover effect for thumb */
  .scrollbar-custom::-webkit-scrollbar-thumb:hover {
    background-color: #3ba391;
  }
}




/* Your messages */
.chat-end .chat-bubble {
  background-color: #4f46e5; /* Indigo-600 */
  color: white;
}

/* Other user messages */
.chat-start .chat-bubble {
  background-color: #1f2937; /* Gray-800 */
  color: white;
}

.chat-bubble {
  border-radius: 20px 20px 20px 5px;
}

.bg-chat {
  /* background: linear-gradient(to bottom, #1f1f1f, #2b2b2b);*/
   background-image: url("https://i.pinimg.com/736x/fa/99/31/fa9931e3351f625f864c39111b183650.jpg"),
  
}

.transform {
  transform: translateZ(0);
}


